
body{
   
   background-color:#001f55;
   text-align: center; 
}


h1{
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
input{
    width:450px ;
    height:50px ;
    margin: 5px;
    padding-top:0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #ffff;
    font-size: 18px;
}

.boton-agregar{
    width: 50px;
    height:50px ;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(255,6,46);
    color: #ffff;
}

    .boton-agregar:hover {
       opacity: 0.9;
      }